<div class="contenitore-padding-vertical">
  <div class="contenitore-padding-margin">
    <div class="contenitore-margin-top">
      <div class="contenitore-content">




        <div class="cont-tot">
          <cake-paragraph id="p"></cake-paragraph>


          <div class="container-svg">
            <div class="c">
            <div class="container-secondario">
              <div class="uno">
                <img src="https://pancakeswap.finance/images/home/cake/bottom-right@2x.webp" alt="">
              </div>
              <div class="due">
                <img src="https://pancakeswap.finance/images/home/cake/top-right@2x.webp" alt="">
              </div>
              <div class="tre">
                <img src="https://pancakeswap.finance/images/home/cake/coin@2x.webp" alt="">
              </div>
              <div class="quattro">
                <img src="https://pancakeswap.finance/images/home/cake/top-left@2x.webp" alt="">
              </div>
            </div>
          </div>
          </div>
        </div>

        <cake-supply></cake-supply>

      <div>
    <div>
  <div>
<div>
