 .contenitore-padding-vertical{
    display: flex;
    position: relative;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    z-index: 4;
    background: rgb(250, 249, 250);
    padding: 0px 0px 40px;
  }

  .contenitore-padding-margin{
    padding-top: 0px;
    padding-bottom: 48px;
    min-height: auto;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .contenitore-margin-top{

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenitore-content{
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(231, 227, 235);


  }



  @media screen and (max-width: 850px) {
    .contenitore-content{
      flex-direction: column;
      align-items: center;
    }
  }
