<div class="container-cards">
    <div class="header-container-cards">
    </div>
    <div class="flex-cont">
        <div class="card1">
            <div class="card-public-sale">
                <div class="nav-public">
                    <h2>Public Sale</h2>
                    <div class="img-container">
                    </div>
                </div>
                <div class="main-public">
                    <div class="container-img-main">
                        <img src="../../../../../assets/Ifo-Assets/pancake-up.svg" alt="">
                    </div>
                    <p>Follow our social channels to learn more about
                        the next IFO.
                    </p>
                </div>
            </div>
        </div>
        <div class="card1">
            <div class="card-private-sale">
                <div class="nav-private">
                    <h2>Private Sale</h2>
                </div>
                <div class="main-private">
                    <div class="container-img-main">
                        <img src="../../../../../assets/Ifo-Assets/pancake-up.svg" alt="">
                    </div>
                    <p>Follow our social channels to learn more about
                        the next IFO.
                    </p>
                </div>
            </div>
        </div>


</div>