
<div class="container">
  <div class="item a">
    <div class="title">Circulating Supply</div>
    <div class="value">163,638,550</div>
  </div>
  <div class="item border b bord">
    <div class="title">Circulating Supply</div>
    <div class="value">163,638,550</div>
  </div>
  <div class="item border c ">
    <div class="title">Circulating Supply</div>
    <div class="value">163,638,550</div>
  </div>
  <div class="item bord d">
    <div class="title">Circulating Supply</div>
    <div class="value">163,638,550</div>
  </div>
  <div class="item border e">
    <div class="title">Circulating Supply</div>
    <div class="value">163,638,550</div>
  </div>
  <div class="item border f bord">
    <div class="title">Circulating Supply</div>
    <div class="value">163,638,550</div>
  </div>
</div>

