<div class="cards-container d-flex center vert-center wrap" style="height: 800px">
        <div class="container-card">
            <div class="card-body">
                <div class="card-header d-flex space-between vert-center">
                    <div class="sub-header-left">
                        <div class="img-left-header-container d-flex " >
                            <img class="back-img-card-header" src="https://pancakeswap.finance/images/tokens/0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c.png"  alt="">
                            <img class="front-img-card-header"  src="https://pancakeswap.finance/images/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png"  alt="header">
                        </div>
                    </div>
                    <div class="sub-header-right">
                            <h2 class="cake-bnb">CAKE-BNB</h2>
                            <div class="d-flex vert-center">
                                <div class=" container-core d-flex vert-center">
                                    <svg viewBox="0 0 24 24" width="18px" color="secondary" xmlns="http://www.w3.org/2000/svg" class="sc-eaf7e66-0 dodMCi" fill="#7645d9">
                                        <path d="M23 12L20.56 9.21L20.9 5.52L17.29 4.7L15.4 1.5L12 2.96L8.6 1.5L6.71 4.69L3.1 5.5L3.44 9.2L1 12L3.44 14.79L3.1 18.49L6.71 19.31L8.6 22.5L12 21.03L15.4 22.49L17.29 19.3L20.9 18.48L20.56 14.79L23 12ZM9.38 16.01L7 13.61C6.61 13.22 6.61 12.59 7 12.2L7.07 12.13C7.46 11.74 8.1 11.74 8.49 12.13L10.1 13.75L15.25 8.59C15.64 8.2 16.28 8.2 16.67 8.59L16.74 8.66C17.13 9.05 17.13 9.68 16.74 10.07L10.82 16.01C10.41 16.4 9.78 16.4 9.38 16.01Z">
                                        </path>
                                    </svg>
                                    <span>core</span>
                                </div>
                                <div class="container-multiplier">
                                    <span>40x</span>
                                </div>
                             </div>
                    </div>
                </div>
                <div class="d-flex space-between vert-center" style="height: 32px; margin-bottom:8px">
                    <p class="apr">APR</p>
                    <div class="container-percent-svg-calc d-flex vert-center">
                        <p >29.9%</p>
                        <svg viewBox="0 0 24 24" width="18px" color="text" xmlns="http://www.w3.org/2000/svg" class="sc-eaf7e66-0 mvupn" style="margin-left: 10px" fill="rgb(40, 13, 95)">
                            <path d="M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM19 19H5V5H19V19Z"></path>
                            <path d="M11.25 7.72H6.25V9.22H11.25V7.72Z"></path>
                            <path d="M18 15.75H13V17.25H18V15.75Z"></path>
                            <path d="M18 13.25H13V14.75H18V13.25Z"></path>
                            <path d="M8 18H9.5V16H11.5V14.5H9.5V12.5H8V14.5H6V16H8V18Z"></path>
                            <path d="M14.09 10.95L15.5 9.54L16.91 10.95L17.97 9.89L16.56 8.47L17.97 7.06L16.91 6L15.5 7.41L14.09 6L13.03 7.06L14.44 8.47L13.03 9.89L14.09 10.95Z"></path>
                        </svg>
                    </div>
                </div>
                <div class="container-earn-txt-cake d-flex space-between" style="margin-bottom: 16px">
                    <p>Earn:</p>
                    <h4>CAKE + Fees</h4>
                </div>
                <p class="cake-earned-txt"><span>CAKE </span>EARNED</p>
                <div class="d-flex space-between vert-center" style="margin-bottom: 8px">
                    <h2 class="tot-cake-earned">0.000</h2>
                    <button class="btn-harvest">HARVEST</button>
                </div>
                <div class="d-flex" style="margin-bottom: 8px">
                    <p class="txt-cake">CAKE-BNB LP</p>
                    <p class="txt-earned">STAKED</p>
                </div>
                <button class="btn-connect-wallet">Connect Wallet</button>
            </div>
            <div class="card-footer">
                <div class="d-flex center">
                    
                        <p class="txt-details-hide">Details</p>
                        <svg viewBox="0 0 24 24" color="text" width="20px" xmlns="http://www.w3.org/2000/svg" class="sc-eaf7e66-0 mvupn" fill="rgb(31, 199, 212)">
                            <path d="M8.11997 9.29006L12 13.1701L15.88 9.29006C16.27 8.90006 16.9 8.90006 17.29 9.29006C17.68 9.68006 17.68 10.3101 17.29 10.7001L12.7 15.2901C12.31 15.6801 11.68 15.6801 11.29 15.2901L6.69997 10.7001C6.30997 10.3101 6.30997 9.68006 6.69997 9.29006C7.08997 8.91006 7.72997 8.90006 8.11997 9.29006Z"></path>
                        </svg>
                    
                    
                </div>
                <div class="sub-card-datails">
                        <div class="sub-txt-tot-liqui d-flex space-between">
                            <p >Total Liquidity</p>
                             <div >
                                <p>$99999999</p>
                            </div>
                        </div>
                        
                         <div class="containers-links d-flex column">
                                <a class="d-flex">Get CAKE-BNB LP <img src="../../../assets/farms/table-farms/external-links.svg" alt=""></a>
                                <a  class="d-flex">View Contract LP <img src="../../../assets/farms/table-farms/external-links.svg" alt=""></a>
                                <a  class="d-flex">See Pair Info <img src="../../../assets/farms/table-farms/external-links.svg" alt=""></a>
                        </div>
                            
                    </div>
            </div>
        </div>

        

         
</div>