
<cake-lottery-timer></cake-lottery-timer>

 <div class="contenitore-padding-vertical">
  <div class="contenitore-padding-margin">
    <div class="contenitore-margin-top">
      <div class="contenitore-content">




      <div class="contenitore-testo">
        <h1 class="title">The moon is made of pancakes.</h1>
        <p id="description">Trade, earn, and win crypto on the most popular decentralized platform in the galaxy.</p>
        <div class="buttons">
          <div >
            <button class="connect">
              <a href="">Connect Wallet</a>
            </button>
          </div>

          <div >
            <button class="trade">
              <a href="">Trade Now</a>
            </button>
          </div>
        </div>
      </div>


      <div class="contenitore-svg">
        <img src="../../../../assets/bunny-homepage.webp" alt="">
      </div>





    </div>

    <div>
    <div>
    <div>













