<section class="ifo-cake">
    <div class="header"></div>
    <div class="header-text">
        <div class="container-text">
            <h1>IFO: Initial Farm Offerings</h1>
        <p>Buy new tokens launching on BNB Smart Chain</p>
        </div>
        
        <div class="button">
            <button class="ifo-btn">How does it work?</button>
        </div>
    </div>
    <div class="container-card-info">
    <cake-ifo-cake class="cake-ifo-cake"></cake-ifo-cake>
    <cake-ifo-cards></cake-ifo-cards>
    </div>

    <div class="container-main">
        <cake-ifo-main></cake-ifo-main>
    </div>
    
</section>

