





<div class="container">

  <div class="top">Prize Funds</div>
  <div class="one">The prizes for each lottery round come from three sources:</div>

  <div class="paragraph">
    <div class="title">Ticket Purchases</div>
    <ul>
      <li>
        <div class="paragraph-cont">
          100% of the CAKE paid by people buying tickets that round goes back into the prize pools
        </div>
      </li>
    </ul>
  </div>
  <div class="paragraph">
    <div class="title">Rollover Prizes</div>
    <ul>
      <li>
        <div class="paragraph-cont">
          After every round, if nobody wins in one of the prize brackets, the unclaimed CAKE for that bracket rolls over into the
          next round and are redistributed among the prize pools.
        </div>
      </li>
    </ul>
  </div>
  <div class="paragraph">
    <div class="title">CAKE Injections</div>
    <ul>
      <li>
        <div class="paragraph-cont">
          An average total of 35,000 CAKE from the treasury is added to lottery rounds over the course of a week. This CAKE is of
          course also included in rollovers! Read more in our guide to <a href="#">CAKE Tokenomics</a>
        </div>
      </li>
    </ul>
  </div>
</div>
