.container-cake-makes{
  width:100%;
  max-width:968px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 24px 98px;

}

.container-header-cake-makes {
  display: flex;
  width: max-content;
  max-width: 420px;
  flex-flow: row;
  margin: 2rem;
  
}

.container-head {
  display: flex;
  flex-flow: column;
  color: rgb(40, 13, 95);
}

.colored-text {
  color: rgb(118, 69, 217);
}

.container-paragraph {
  margin-top: 1rem;
  
}

.container-btn-cake-makes {
  margin-top: 2rem;
}

.button-cake-makes {
  margin-right: 1rem;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 48px;
  padding: 0px 24px;
  background-color: rgb(31, 199, 212);
  color: white;
  margin-right: 16px
}

.button-cake-makes:hover {
  /* filter: brightness(110%); */
  opacity: 0.65;
}

.span-btn-cake-makes {
  cursor: pointer;
  font-weight: 600;
  color: rgb(31, 199, 212);
}

.span-btn-cake-makes:hover {
  text-decoration: underline rgb(31, 199, 212);
}

.container-img-cake-makes {
  display: flex;
  
}

.container-img-cake-makes img {
    position: absolute;
}


/* Animazione */

.container-img-fluttuant-topright {
    animation: top-right ease-in-out 3s normal none infinite
}

@keyframes top-right {
    0%,
    100% {
      transform: translate(10px, 0px);
    }
   
    50% {
      transform: translate(-10px, -8px);
   }
}

.container-img-fluttuant-central {
    animation: coin-center ease-in-out 3s normal none infinite
}

@keyframes coin-center {
    0%,
    100% {
      transform: translate(0px, 5px);
    }
  
    50% {
      transform: translate(-5px, -10px);
   }
 
 }
.container-img-fluttuant-topleft{
    animation: top-left ease-in-out 4s normal none infinite
}

@keyframes top-left {
    0%,
    100% {
      transform: translate(0px, 0px);
    }
  
    50% {
      transform: translate(-8px, -5px);
   }
}

.container-img-fluttuant-bottom-right {
    animation: bottom-right ease-in-out 3s normal none infinite
}

@keyframes bottom-right {
    0%,
    100% {
      transform: translate(5px, 10px);
    }
  
    50% {
      transform: translate(-20px, -10px);
   }
}




.container-footer-cake-makes {
    width: 968px;
    padding-top: 48px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-content:center;
    margin-top: 4rem;
    
}

