<div class="container-cake-makes">

    <div class="container-header-cake-makes">
        <h2 class="title"><h2 class="title-colored">CAKE</h2>makes our world go round.</h2>
        <div class="container-paragraph">
            <p class="paragraph">CAKE token is at the heart of the PancakeSwap
                 ecosystem. Buy it, win it, farm it, spend it,
                 stake it... heck, you can even vote with it!</p>
        </div>
        <div class="container-btn-cake-makes">
            <button class="button-cake-makes">Buy CAKE</button>
            <span class="span-btn-cake-makes">Learn</span>
        </div>
        
        <div class="container-img-cake-makes">
            <div class="container-img-fluttuant-topright">
                <img src="../../../assets/section-cake-makes/top-left.png" alt="coin-topleft" width="350px">
            </div>

            <div class="container-img-fluttuant-central">
                <img src="../../../assets/section-cake-makes/coin.png" alt="coin-central" width="350px">
            </div>

            <div class="container-img-fluttuant-topleft">
                <img src="../../../assets/section-cake-makes/top-right.png" alt="coin-topright" width="350px">
            </div>

            <div class="container-img-fluttuant-bottom-right">
                <img src="../../../assets/section-cake-makes/bottom-right.png" alt="coin-bottomright" width="350px">
            </div>
        </div>

    </div>

    <div class="container-footer-cake-makes">
        <p class="title">Total supply</p>
        <h2 class="number"></h2>

        <p class="title2">Burned to date</p>
        <h2 class="number2"></h2>

        <p class="title3">Market cap</p>
        <h2 class="number3"></h2>

        <p class="title4">Current emissions</p>
        <h2 class="number4"></h2>
    </div>

    
</div>