
<div class="wrapper">
    <div class="container-carousel" >
        <div class="title-carousel">
            <h5>Top Movers</h5>
         </div>
         <div class="container-cards-token">
                <a *ngFor="let card of cards" class="card">
                    <div class="container-card d-flex ">
                        <div class="container-token-img">
                            <img class="token-img" src="https://assets-cdn.trustwallet.com/blockchains/smartchain/assets/0x8AC76a51cc950d9822D68b83fE1Ad97B32Cd580d/logo.png" alt="">
                        </div>
                        <div class="container-symbol-price-percentage">
                            <div>
                               <p class="text-symbol">USDC</p> 
                               <div class="price-percentage d-flex">
                                   <p class="text-price">$1.00</p>
                                   <p class="text-percentage">↑0.21%</p>
                               </div>
                            </div>
                        </div>

                    </div>
                </a>
         </div>
       
    </div>
</div>
    


