
<div class="container_connect_wallet">
    <div class="connect_wallet_nav">
        <h2 class="title">Connect Wallet</h2>
        <span class="btn_close">&times;</span>
    </div>
    <div class="connect_wallet_header">
        <div class="container_img_wallet">
            <div class="container_img_wallet">
                <img src="" alt="" class="image_wallet">
                <p class="title_wallet">Metamask</p>
            </div>

            <div class="container_img_wallet">
                <img src="" alt="" class="image_wallet">
                <p class="title_wallet">Binance Wallet</p>
            </div>

            <div class="container_img_wallet">
                <img src="" alt="" class="image_wallet">
                <p class="title_wallet">Coinbase Wallet</p>
            </div>

            <div class="container_img_wallet">
                <img src="" alt="" class="image_wallet">
                <p class="title_wallet">More</p>
            </div>
    </div>
    <div class="wallet_footer">
        <p class="footer_title">Haven't got a crypto wallet yet?</p>
        <button>Learn How to Connetc</button>
    </div>
</div>