
<div class="concav-cont">
  <div class="score">
    <cake-com></cake-com>
  </div>


  <div class="concav">
    <svg width="0" height="0">
      <defs>
        <clipPath id="topConcaveCurve" clipPathUnits="objectBoundingBox">
          <path d="M 0,0 L 0,1 L 1,1 L 1,0 C .75 1, .25 1, 0 0 Z"></path>
        </clipPath>
      </defs>
    </svg>
  </div>
</div>


<div class="contenitore-padding-vertical">
  <div class="contenitore-padding-margin">
    <div class="contenitore-margin-top">
      <div class="contenitore-content">
        <div class="t">
 <cake-table-prize-team></cake-table-prize-team> </div>
<div class="paragraph-cont">
  <div class="first-line">
    <p>Every eligible participant will win prizes at the end of the competition.</p>
  </div>

  <div class="title">
    <h2>The better your team performs, the better prizes you will get!</h2>
  </div>

  <div class="blog b-one">
    <p>The final winning team will be the team with the highest total volume score at the end of the competition period.</p>
  </div>

  <div class="blog b-two">
    <p>In addition to token prizes there are NFT rewards:</p>
  </div>

  <div class="blog b-three">
    <p>A. 300 newly-designed PancakeSwap NFTs to the Top 100 Traders in each team.</p>
  </div>

  <div class="blog b-four">
    <p>B. 100 Mines of Dalarnia NFTs to the Top 100 Traders ranked by the $DAR Trading Volume.</p>
  </div>

  <div class="icon">
    <img src="https://pancakeswap.finance/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FMoD-flipper.46cc0720.png&w=384&q=75" alt="">
  </div>
</div>

      </div>
    </div>
  <div>
<div>




