


<div class="contenitore-padding-vertical">
  <div class="contenitore-padding-margin">
    <div class="contenitore-margin-top">
      <div class="contenitore-content">


<div class="container">
  <div class="up">
    <div class="title">How to Play</div>
    <div class="p p-one">If the digits on your tickets match the winning numbers in the correct order, you win a portion of the prize pool.</div>
    <div class="p p-two">Simple!</div>
  </div>
  <div class="down">
    <cake-step-card></cake-step-card>
    <cake-step-card></cake-step-card>
    <cake-step-card></cake-step-card>
  </div>
</div>


<div>
<div>
<div>
<div>


