<div class="third-wrap">
  <div class="third">
    <div class="third-content-wrap">
      <div class="third-content">
        <div class="content">
          <img id="left-ticket" src="https://pancakeswap.finance/images/lottery/ticket-l.png" alt="">
          <div class="middle-third">
            <h2 id="c">Connect your wallet</h2>
            <h2 id="c">to check if you've won!</h2>
            <button class="cnt ">Connect Wallet</button>
          </div>
          <img id="right-ticket" src="https://pancakeswap.finance/images/lottery/ticket-r.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
