

<div class="wrapper-table">

        <!-- TITLE TABLE -->
        <h2 class="title-top-tokens">Transactions</h2>

        <!-- FILTER DIFFERENT TABLES -->
        <div class="container-filter d-flex">
            <div class="all-swaps-container d-flex">
                <div class="container-input-label ">
                    <input class="input-radio" type="radio" checked id="all" name="chooseData" value="all"><label class="text-label" for="all">All</label>
                </div>
                <div class="container-input-label">
                    <input class="input-radio" type="radio" id="swaps" name="chooseData" value="swaps"><label class="text-label" for="swaps">Swaps</label>
                </div>
            </div>
            <div class="adds-removes-container d-flex ">
                <div class="container-input-label ">
                    <input class="input-radio" type="radio" id="adds" name="chooseData" value="adds"><label class="text-label" for="adds">Adds</label>
                </div>
                <div class="container-input-label ">
                    <input class="input-radio" type="radio" id="removes" name="chooseData" value="removes"><label class="text-label" for="removes">Removes</label>
                </div>
            </div>
        </div>
        <!-- TABLE START -->
        <div class="container-table  d-flex column">
            
            <!-- THEADING TABLE -->
            <div class="grid-container grid-header">
                <div class="th-action d-flex">ACTION</div>
                <div class="th-total-value"><span>TOTAL VALUE ↓</span></div>
                <div class="th-amount-first-token"><span>TOKEN AMOUNT ↑</span></div>
                <div class="th-amount-second-token"><span>TOKEN AMOUNT</span></div>
                <div class="th-account"><span>ACCOUNT</span></div>
                <div class="th-time"><span>TIME</span></div>
            </div>
    
    
    
            <!-- TDATA TABLE -->
            <div class="grid-container grid-body" *ngFor="let transaction of transactions">
                <div class="td-action">
                    <a href="#" class="action-container-txt-svg d-flex vert-center">
                            <p>{{transaction.action}}</p>
                            <div class="container-svg-link">
                                <div class="d-flex vert-center">
                                    <svg viewBox="0 0 24 24" color="primary" width="20px" xmlns="http://www.w3.org/2000/svg" class="sc-eaf7e66-0 fJSxMQ" fill="rgb(31, 199, 212)">
                                        <path d="M18 19H6C5.45 19 5 18.55 5 18V6C5 5.45 5.45 5 6 5H11C11.55 5 12 4.55 12 4C12 3.45 11.55 3 11 3H5C3.89 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V13C21 12.45 20.55 12 20 12C19.45 12 19 12.45 19 13V18C19 18.55 18.55 19 18 19ZM14 4C14 4.55 14.45 5 15 5H17.59L8.46 14.13C8.07 14.52 8.07 15.15 8.46 15.54C8.85 15.93 9.48 15.93 9.87 15.54L19 6.41V9C19 9.55 19.45 10 20 10C20.55 10 21 9.55 21 9V4C21 3.45 20.55 3 20 3H15C14.45 3 14 3.45 14 4Z"></path>
                                    </svg>
                                </div>
                            </div>
                    </a>
                </div>
                <div class="td-total-value">
                    <p>${{transaction.totalValue}}</p>
                </div>
                <div class="td-amount-first-token"><a>{{transaction.tokenAmountFirst}} {{transaction.firstToken}}</a></div>
                <div class="td-amount-second-token"><a>{{transaction.tokenAmountSecond}} {{transaction.secondToken}}</a></div>
                <div class="td-account">
                     <a href="https://bscscan.com/address/{{transaction.account}}" target="_blank" class="action-container-txt-svg d-flex vert-center">
                            <p class="txt-address">{{transaction.account}}</p>
                            <div class="container-svg-link">
                                <div class="d-flex vert-center">
                                    <svg viewBox="0 0 24 24" color="primary" width="20px" xmlns="http://www.w3.org/2000/svg" class="sc-eaf7e66-0 fJSxMQ" fill="rgb(31, 199, 212)">
                                        <path d="M18 19H6C5.45 19 5 18.55 5 18V6C5 5.45 5.45 5 6 5H11C11.55 5 12 4.55 12 4C12 3.45 11.55 3 11 3H5C3.89 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V13C21 12.45 20.55 12 20 12C19.45 12 19 12.45 19 13V18C19 18.55 18.55 19 18 19ZM14 4C14 4.55 14.45 5 15 5H17.59L8.46 14.13C8.07 14.52 8.07 15.15 8.46 15.54C8.85 15.93 9.48 15.93 9.87 15.54L19 6.41V9C19 9.55 19.45 10 20 10C20.55 10 21 9.55 21 9V4C21 3.45 20.55 3 20 3H15C14.45 3 14 3.45 14 4Z"></path>
                                    </svg>
                                </div>
                            </div>
                    </a>
                </div>
                <div class="td-time">{{transaction.time}} minutes</div> 
            </div>
            
            
            <!-- TFOOTER TABLE -->
            <div class="footer-table d-flex center vert-center">
                <div class="footer-navigation-table d-flex vert-center" >
                    <div class="container-svg-arrow-back" (click)="previousPage()" [class.back-ahead-avilable]="arrowBack">
                        <svg viewBox="0 0 24 24" color="textDisabled" width="20px" xmlns="http://www.w3.org/2000/svg" class="sc-eaf7e66-0 kcSykS">
                            <path d="M19 11H7.82998L12.71 6.12C13.1 5.73 13.1 5.09 12.71 4.7C12.32 4.31 11.69 4.31 11.3 4.7L4.70998 11.29C4.31998 11.68 4.31998 12.31 4.70998 12.7L11.3 19.29C11.69 19.68 12.32 19.68 12.71 19.29C13.1 18.9 13.1 18.27 12.71 17.88L7.82998 13H19C19.55 13 20 12.55 20 12C20 11.45 19.55 11 19 11Z"></path>
                        </svg>
                    </div>
                    <div class="footer-page-index" >{{currentPage}} of {{totalPages}}</div>
                    <div class="container-svg-arrow-ahead" (click)="nextPage()" [class.back-ahead-avilable]="arrowAhead">
                        <svg viewBox="0 0 24 24" color="primary" width="20px" xmlns="http://www.w3.org/2000/svg" class="sc-eaf7e66-0 etGTJB">
                            <path d="M5 13H16.17L11.29 17.88C10.9 18.27 10.9 18.91 11.29 19.3C11.68 19.69 12.31 19.69 12.7 19.3L19.29 12.71C19.68 12.32 19.68 11.69 19.29 11.3L12.71 4.7C12.32 4.31 11.69 4.31 11.3 4.7C10.91 5.09 10.91 5.72 11.3 6.11L16.17 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13Z"></path>
                        </svg>
                    </div>        
                </div>
            </div>

            
     </div>
    <!-- TABLE ENDS -->
</div>
