

<div class="container-sub-menu" [class.showSubMenu]="subMenuRowTableList">
    <div class="t d-flex center vert-center space-around">

        <div class="containers-links d-flex column">
            <a>Get CAKE-BNB LP <img src="../../../assets/farms/table-farms/external-links.svg" alt=""></a>
            <a>View Contract LP <img src="../../../assets/farms/table-farms/external-links.svg" alt=""></a>
            <a>See Pair Info <img src="../../../assets/farms/table-farms/external-links.svg" alt=""></a>
        </div>
        <div>
            <p>CAKE EARNED</p>
            <p>0</p>
            <button>Harvest</button>
        </div>
        <div>
            <p>START FARMING</p>
            <button>Connect Wallet</button>
        </div>
    </div>
 </div>