<!-- <div class="nav" style="position: relative; z-index: 999; width: 100%;">
<cake-nav-bar></cake-nav-bar>
</div> -->

<cake-ifo></cake-ifo>




<!-- <div class="cont" style="position: relative; z-index: -2;">
 <cake-top-traders></cake-top-traders>
<cake-prizes></cake-prizes>
<cake-rules></cake-rules>
<cake-last-section></cake-last-section>

<cake-first-section></cake-first-section>
<cake-second-section></cake-second-section>

<cake-third-section></cake-third-section>

<cake-connect-popup></cake-connect-popup>
<cake-homepage></cake-homepage>



</div>

<cake-earn-section></cake-earn-section>
<cake-patata-in-seconds></cake-patata-in-seconds>
<cake-select-bar></cake-select-bar>
<router-outlet></router-outlet> -->