

<style>
  .svg-rando{
    position: absolute;
    bottom: -30px;
    right:50px;
    width: 560px;
  }

  .svg-rando img{
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 910px) {
   .contenitore-content{
     display: flex;
     flex-direction: column;
     order: 1;
   }

   .txt{
     order: 2;
   }

   .svg-rando{
     position:static ;
     width: 500px;
     margin-top: 30px;
   }
  }


  @media screen and (max-width: 475px) {

      .svg-rando{
     position:static ;
     width: 300px;
     margin-top: 30px;
   }
  }



</style>







<div class="contenitore-totale">
  <div class="contenitore-padding-down">
    <div class="contenitore-padding-margin">
      <div class="contenitore-content">

        <div class="clock">
          <cake-clock></cake-clock>
        </div>

        <div class="txt">
          <cake-content-text></cake-content-text>
        </div>

        <div class="svg-rando">
          <img src="https://pancakeswap.finance/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FMoD-hero-bunnies.6dd34786.png&w=640&q=75" alt="">
        </div>

      </div>
    </div>
  </div>
</div>
