<div class="container-card-cake">
    <div class="header-cake">

        <div class="text-header">
            <h2>IFO CAKE</h2>
            <p class="transp">Stake CAKE to participate in IFO</p>
        </div>

        <div class="container-img-right">
            <div class="img-container">
                <p>ENDED</p>
            </div>
            <div class="circle-img">
                <img src="/Pancake/src/assets/Ifo-Assets/cake-circle.png" alt="cake circle">
            </div>
        </div>

    </div>

    <div class="main-cake">

        <div class="message-container">
            <p class="message">This is the old IFO CAKE pool. 
                Check out the brand new CAKE pool to learn how to earn CAKE
                rewards with higher APY while enjoying other benefits.
            </p>
            <button class="btn-ifo-cake">Go to new CAKE pool</button>
        </div>


        <div class="sub-main-text">

            <div class="text-submain">
                <p class="submain">CAKE STAKED</p>
                <h2 class="transp">0.0</h2>
            </div>

            <div class="text-footer">
                <p class="footer">Recent CAKE profit:</p>
                <h4 class="transp">0.0</h4>
            </div>
    </div>

    </div>

</div>
