.container-card-cake {
    max-width: 370px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 24px;
    color: rgb(40, 13, 95);
    overflow: inherit;
    position: relative;
    padding: 1px 1px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.459);
     
}

.header-cake {
    display: flex;
    flex-flow: row;
    background: linear-gradient(111.68deg, rgb(242, 236, 242) 0%, rgb(232, 242, 246) 100%);
    border-radius: 24px 24px 0px 0px;
    padding: 16px;
    justify-content: space-between;
    overflow: hidden;
}

.text-header {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    
}

.transp {
    font-size: 0.8rem;
    line-height: 1.2;
    white-space: nowrap;
    opacity: 0.65;
}

.container-img-right {
    max-height: 64px;
    max-width: 64px;
    position: relative;
    width: 100%;
}


.img-container {
    position: absolute;
    transform: rotate(-318deg);
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(237, 75, 158);
    z-index: 7;
    padding: 4px 0px;
}





.circle-img {
}


.message-container {
    width: 85%;
    margin-top: 1rem;
    border: 1px solid rgb(255, 178, 55);
    padding: 16px;
    border-radius: 16px;
    border: 1px solid rgb(255, 178, 55);
    margin-bottom: 37px;
    background: rgba(255, 178, 55, 0.098);

}


.btn-ifo-cake {
    width: 100%;
    margin-top: 1rem;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    cursor: pointer;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: rgb(31, 199, 212);
    color: white;
    
  }

  .btn-ifo-cake:hover {
      opacity: 0.65;
  }


  .sub-main-text {
      width: 100%;
      margin: 1rem;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
  }
