<div class="container-toolbar-farms-pools d-flex center vert-center " id="top">
  <div class="trading-container d-flex  column">
    <div class="link-swap" routerLink="/swap">Trading Competition</div>

  </div>
  <div class="farms-container d-flex column">
    <div class="link-prediction" routerLink="/prediction">Prediction(BETA)</div>

  </div>
  <div class="lottery-container d-flex column">
    <div class="link-lottery" routerLink="/lottery">Lottery</div>

  </div>
</div>

<cake-finished></cake-finished>
