<style>
    .home {
        background-color: #9a6aff;
        width: 100vw;
        height: 428px;
        fill: #9a6aff;
    }

    .sub {
        background-image: url(https://pancakeswap.finance/images/decorations/bg-star.svg);
        width: 100vw;
        height: 428px;

    }
</style>
<div class="home">
    <div class="sub">
        <div class="left">
            <img src="../../../../assets/1-top.png" alt="">
            <img src="../../../../assets/1-left.png" alt="">
            <img src="../../../../assets/1-bottom.png" alt="">
        </div>
        <div class="right">
            <img src="../../../../assets/2-top.png" alt="">
            <img src="../../../../assets/2-right.png" alt="">
            <img src="../../../../assets/2-bottom.png" alt="">
        </div>
        <p>Start in seconds.</p>
        <p>Connect your crypto wallet to start using the app in seconds.<br>
            No registration needed.</p>
        <p><a href="">Learn how to start</a></p>
        <cake-button-connect></cake-button-connect>
    </div>