






<div class="contenitore-padding-vertical">
  <div class="contenitore-padding-margin">
    <div class="contenitore-margin-top">
      <div class="contenitore-content">


        <div class="responsive-img">
          <div class="g">
          <div class="one-r">
            <img src="https://pancakeswap.finance/images/home/trade/BNB@2x.webp" alt="">
          </div>

          <div class="two-r">
            <img src="https://pancakeswap.finance/images/home/trade/BTC@2x.webp" alt="">
          </div>

          <div class="three-r">
            <img src="https://pancakeswap.finance/images/home/trade/CAKE@2x.webp" alt="">
          </div>
          </div>
        </div>

<cake-paragraph></cake-paragraph>


<div class="img-container">
  <div class="content">
    <div class="one">
       <img src="https://pancakeswap.finance/images/home/trade/BNB@2x.webp" alt="">
    </div>

    <div class="two">
      <img src="https://pancakeswap.finance/images/home/trade/BTC@2x.webp" alt="">
    </div>

    <div class="three">
      <img src="https://pancakeswap.finance/images/home/trade/CAKE@2x.webp" alt="">
    </div>
  </div>
</div>




<div>
<div>
<div>
<div>
