.container-section-card-homepage {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: linear-gradient(rgb(249, 250, 255)22%,rgb(215, 202, 236)100%) repeat scroll 0% 0%;
    padding: 48px 0px;
    color: black;
}

.container-pancake-face-img {
    margin-bottom: 1rem;
}


.container-pancake-face-img:hover {
    animation:imgrotate 1.5s ease;
    
}

@keyframes imgrotate {
    0%{
        transform: rotateX(0deg) rotateY(0deg);
        transform-style: preserve-3d;
    }

    50%{
        transform: rotateY(260deg) ;
        transform-style: preserve-3d;
    }

    100%{
        transform: rotateX(0deg) rotateY(0deg);
        transform-style: preserve-3d;
    }
}

.container-text-card {
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.container-text-card h2 {
    align-items: center;
    display: flex;
    justify-content: center;
}

.container-paragraph {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 2rem 0rem;
}

.paragraph3 {
    margin-top: 1rem;
}
